<!DOCTYPE html>
<html>
<head>
  <title>SplitwiseClone</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'friends/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    .icon-bar {
      width: 100%;
      background-color: #555;
      overflow: auto;
    }

    .icon-bar a {
      float: left;
      width: 20%;
      text-align: center;
      padding: 12px 0;
      transition: all 0.3s ease;
      color: white;
      font-size: 36px;
    }

    .icon-bar a:hover {
      background-color: #000;
    }

    .active {
      background-color: #111;
    }
  </style>
</head>
<body>
  <div class="icon-bar">
    <a href="#"><i class="fa fa-plus"></i></a> 
    <a class="active" href="{% url 'friends:addfriend' %}"><i class="fa fa-user"></i></a> 
    <a href="#"><i class="fa fa-users"></i></a> 
    <a href="#"><i class="fa fa-history"></i></a>
    <a href="#"><i class="fa fa-power-off"></i></a> 
  </div>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Add friend Form -->
      <form autocomplete="off" action="{% url 'friends:tryadd' %}" method="post">
        {% csrf_token %}
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="friend's name">
        <input type="submit" class="fadeIn fourth" value="Add new Friend">
      </form>
      <br><br>

      <!-- Remind Passowrd -->
      <!-- <div id="formFooter"> -->
        <!-- <a class="underlineHover" href="#">Forgot Password?</a> -->
      <!-- </div> -->

    </div>
  </div>
</body>
</html>