<!DOCTYPE html>
<html>
<head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'profilepage/mycss.css' %}" >
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
<!------ Include the above in your HEAD tag ---------->
	<title></title>
</head>
<body>
<div class="container">
	<div class="row login_box">
	    <div class="col-md-12 col-xs-12" align="center">
            <div class="line"><h3>12 : 30 AM</h3></div>
            
            <h1>Hi {{name}}</h1>
            
	    </div>
        <div class="col-md-12 col-xs-12 follow line" align="center">
            <h3>
                 Email <br/> <span>{{email}}</span>
            </h3>
        </div>
        <div class="col-md-12 col-xs-12 follow line" align="center">
            <h3>
                 Phone number <br/> <span>{{phone}}</span>
            </h3>
        </div>
        
        
        
            
    </div>
</div>
</body>
</html>